In [1]:
# 1. convert float column to int col

In [22]:
import pandas as pd

In [23]:
data = {'float_column': [1.1, 2.2, 3.3, 4.4, 5.5]}

In [24]:
df = pd.DataFrame(data)

In [25]:
df['int_column'] = df['float_column'].astype(int)

In [26]:
print(df)

   float_column  int_column
0           1.1           1
1           2.2           2
2           3.3           3
3           4.4           4
4           5.5           5

In [ ]:
# 2 pandas one column value as a list

In [29]:
import pandas as pd

# Sample DataFrame
data = {'column_name': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

# Convert column to list
column_list = df['column_name'].tolist()

print(column_list)

[1, 2, 3, 4, 5]

In [31]:
# 3

In [32]:
import pandas as pd

# Sample DataFrame
data = {'column1': [1, 2, 3],
        'column2': ['a', 'b', 'c']}

df = pd.DataFrame(data)

# Save DataFrame to CSV without index
df.to_csv('output.csv', index=False)

In [33]:
print(df)

   column1 column2
0        1       a
1        2       b
2        3       c

In [36]:
# 4 renaming-column-names-in-pandas

In [37]:
import pandas as pd

In [39]:
df = pd.read_csv('student-scores.csv')

In [42]:
# print(df)

In [43]:
file = pd.DataFrame(df)

In [44]:
file = file.rename(columns={'id':'sno'})

In [45]:
print(file)

       sno first_name last_name                                    email  \
0        1       Paul     Casey           paul.casey.1@gslingacademy.com
1        2   Danielle  Sandoval    danielle.sandoval.2@gslingacademy.com
2        3       Tina   Andrews         tina.andrews.3@gslingacademy.com
3        4       Tara     Clark           tara.clark.4@gslingacademy.com
4        5    Anthony    Campos       anthony.campos.5@gslingacademy.com
...    ...        ...       ...                                      ...
1995  1996       Alan  Reynolds     alan.reynolds.1996@gslingacademy.com
1996  1997     Thomas   Gilbert    thomas.gilbert.1997@gslingacademy.com
1997  1998    Madison     Cross     madison.cross.1998@gslingacademy.com
1998  1999   Brittany   Compton  brittany.compton.1999@gslingacademy.com
1999  2000    Natalie     Smith     natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
0       male          False             3                       False
1     female          False             2                       False
2     female          False             9                        True
3     female          False             5                       False
4       male          False             5                       False
...      ...            ...           ...                         ...
1995    male          False             2                       False
1996    male          False             2                       False
1997  female          False             5                       False
1998  female           True            10                        True
1999  female          False             5                       False

      weekly_self_study_hours      career_aspiration  math_score  \
0                          27                 Lawyer          73
1                          47                 Doctor          90
2                          13     Government Officer          81
3                           3                 Artist          71
4                          10                Unknown          84
...                       ...                    ...         ...
1995                       30  Construction Engineer          83
1996                       20      Software Engineer          89
1997                       14      Software Engineer          97
1998                        5         Business Owner          51
1999                       27             Accountant          82

      history_score  physics_score  chemistry_score  biology_score  \
0                81             93               97             63
1                86             96              100             90
2                97             95               96             65
3                74             88               80             89
4                77             65               65             80
...             ...            ...              ...            ...
1995             77             84               73             75
1996             65             73               80             87
1997             85             63               93             68
1998             96             72               89             95
1999             99             91               69             83

      english_score  geography_score
0                80               87
1                88               90
2                77               94
3                63               86
4                74               76
...             ...              ...
1995             84               82
1996             67               73
1997             94               78
1998             88               75
1999             93              100

[2000 rows x 17 columns]

In [46]:
# pandas-show-entire-rows-without-truncation

In [54]:
import pandas as pd

In [55]:
data = pd.read_csv('student-scores.csv')

In [56]:
df = pd.DataFrame(data)

In [61]:

pd.set_option('display.max_colwidth', None)

In [62]:
pd.set_option('display.max_rows', None)

In [63]:
print(pd)

<module 'pandas' from '/usr/local/Caskroom/miniconda/base/envs/py38/lib/python3.8/site-packages/pandas/__init__.py'>

In [64]:
# 6 add column after specific column + pandas

In [2]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('student-scores.csv')

# Define the value you want to assign to the new column
new_column_value = 'specific_value'

# Add a new column and assign the specific value to all rows
df['new_column_name'] = new_column_value

# Now, if you want to select a specific row, you can use any of the methods mentioned earlier
# For example, to select the 5th row:
specific_row = df.iloc[4]

In [3]:
print(specific_row)

id                                                             5
first_name                                               Anthony
last_name                                                 Campos
email                         anthony.campos.5@gslingacademy.com
gender                                                      male
part_time_job                                              False
absence_days                                                   5
extracurricular_activities                                 False
weekly_self_study_hours                                       10
career_aspiration                                        Unknown
math_score                                                    84
history_score                                                 77
physics_score                                                 65
chemistry_score                                               65
biology_score                                                 80
english_score                                                 74
geography_score                                               76
new_column_name                                   specific_value
Name: 4, dtype: object