In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [17]:
def custom(Pclass):
    if Pclass == 1:
        return "no"
    elif Pclass == 2:
        return "yes"
    elif Pclass == 3:
        return "yes"

In [18]:
df['specialclass'] = df['Pclass'].apply(custom)

In [16]:
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked specialclass
0        0         A/5 21171   7.2500   NaN        S          yes
1        0          PC 17599  71.2833   C85        C           no
2        0  STON/O2. 3101282   7.9250   NaN        S          yes
3        0            113803  53.1000  C123        S           no
4        0            373450   8.0500   NaN        S          yes
..     ...               ...      ...   ...      ...          ...
886      0            211536  13.0000   NaN        S          yes
887      0            112053  30.0000   B42        S           no
888      2        W./C. 6607  23.4500   NaN        S          yes
889      0            111369  30.0000  C148        C           no
890      0            370376   7.7500   NaN        Q          yes

[891 rows x 13 columns]