In [50]:
import pandas as pd

In [51]:
# import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv("train.csv")

In [53]:
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [54]:
average_age_by_class = df.groupby('Sex')

In [55]:
print(average_age_by_class)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11612a390>

In [56]:
len(average_age_by_class)

2

In [13]:
female_passenger = df[df['Sex'] == 'female']

In [14]:
no_of_females = len(female_passenger)

In [22]:
print("Number of females in titaic :",no_of_females)

Number of females in titaic : 314

In [15]:
age_group = df[df['Age'] > 40]

In [16]:
print(age_group)

     PassengerId  Survived  Pclass  \
6              7         0       1
11            12         1       1
15            16         1       2
33            34         0       2
35            36         0       1
..           ...       ...     ...
862          863         1       1
865          866         1       2
871          872         1       1
873          874         0       3
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
33                               Wheadon, Mr. Edward H    male  66.0      0
35                      Holverson, Mr. Alexander Oskar    male  42.0      1
..                                                 ...     ...   ...    ...
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch      Ticket     Fare Cabin Embarked
6        0       17463  51.8625   E46        S
11       0      113783  26.5500  C103        S
15       0      248706  16.0000   NaN        S
33       0  C.A. 24579  10.5000   NaN        S
35       0      113789  52.0000   NaN        S
..     ...         ...      ...   ...      ...
862      0       17466  25.9292   D17        S
865      0      236852  13.0000   NaN        S
871      1       11751  52.5542   D35        S
873      0      345765   9.0000   NaN        S
879      1       11767  83.1583   C50        C

[150 rows x 12 columns]

In [51]:
len(age_group)

150

In [28]:
passenger_endname = df[df['Name'].apply(lambda x:x.strip().split()[-1][-2:] == 'na')]

In [29]:
print("Name ending with na members in female:",passenger_endname)

Name ending with na members in female:      PassengerId  Survived  Pclass                                  Name  \
2              3         1       3                Heikkinen, Miss. Laina
14            15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
36            37         1       3                      Mamee, Mr. Hanna
113          114         0       3               Jussila, Miss. Katriina
128          129         1       3                     Peter, Miss. Anna
216          217         1       3                Honkanen, Miss. Eliina
218          219         1       1                 Bazzani, Miss. Albina
258          259         1       1                      Ward, Miss. Anna
315          316         1       3       Nilsson, Miss. Helmina Josefina
396          397         0       3                   Olsson, Miss. Elina
402          403         0       3              Jussila, Miss. Mari Aina
417          418         1       2         Silven, Miss. Lyyli Karoliina
419          420         0       3             Van Impe, Miss. Catharina
598          599         0       3                     Boulos, Mr. Hanna
747          748         1       2                 Sinkkonen, Miss. Anna
792          793         0       3               Sage, Miss. Stella Anna

        Sex   Age  SibSp  Parch            Ticket      Fare  Cabin Embarked
2    female  26.0      0      0  STON/O2. 3101282    7.9250    NaN        S
14   female  14.0      0      0            350406    7.8542    NaN        S
36     male   NaN      0      0              2677    7.2292    NaN        C
113  female  20.0      1      0              4136    9.8250    NaN        S
128  female   NaN      1      1              2668   22.3583  F E69        C
216  female  27.0      0      0  STON/O2. 3101283    7.9250    NaN        S
218  female  32.0      0      0             11813   76.2917    D15        C
258  female  35.0      0      0          PC 17755  512.3292    NaN        C
315  female  26.0      0      0            347470    7.8542    NaN        S
396  female  31.0      0      0            350407    7.8542    NaN        S
402  female  21.0      1      0              4137    9.8250    NaN        S
417  female  18.0      0      2            250652   13.0000    NaN        S
419  female  10.0      0      2            345773   24.1500    NaN        S
598    male   NaN      0      0              2664    7.2250    NaN        C
747  female  30.0      0      0            250648   13.0000    NaN        S
792  female   NaN      8      2          CA. 2343   69.5500    NaN        S

In [32]:
name_parentheses = df[df['Name'].str.contains('\(|\)')]

In [33]:
len(name_parentheses)

143

In [56]:
print("number of passenger haveing parentheses:",name_parentheses)

number of passenger haveing parentheses:      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
8              9         1       3
9             10         1       2
15            16         1       2
..           ...       ...     ...
871          872         1       1
874          875         1       2
879          880         1       1
880          881         1       2
885          886         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0

     Parch     Ticket     Fare Cabin Embarked
1        0   PC 17599  71.2833   C85        C
3        0     113803  53.1000  C123        S
8        2     347742  11.1333   NaN        S
9        0     237736  30.0708   NaN        C
15       0     248706  16.0000   NaN        S
..     ...        ...      ...   ...      ...
871      1      11751  52.5542   D35        S
874      0  P/PP 3381  24.0000   NaN        C
879      1      11767  83.1583   C50        C
880      1     230433  26.0000   NaN        S
885      5     382652  29.1250   NaN        Q

[143 rows x 12 columns]

In [58]:
pie_chart = df['Pclass'].value_count()

In [ ]:
#plot a pie chart 
# plt.figure(figuresize=(8,7))
# pie_count.plot(kind ='pie', autopct ='%1.1f%%', straight angle = 90, colours =['red' ,'blue','green'])

In [64]:
not_married = df[df['Name'].str.contains('Miss', case=False)]

In [65]:
print("How many miss (not married) in passenger list:",not_married)

How many miss (not married) in passenger list:      PassengerId  Survived  Pclass                                      Name  \
2              3         1       3                    Heikkinen, Miss. Laina
10            11         1       3           Sandstrom, Miss. Marguerite Rut
11            12         1       1                  Bonnell, Miss. Elizabeth
14            15         0       3      Vestrom, Miss. Hulda Amanda Adolfina
22            23         1       3               McGowan, Miss. Anna "Annie"
..           ...       ...     ...                                       ...
866          867         1       2              Duran y More, Miss. Asuncion
875          876         1       3          Najib, Miss. Adele Kiamie "Jane"
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
2    female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
10   female   4.0      1      1           PP 9549  16.7000    G6        S
11   female  58.0      0      0            113783  26.5500  C103        S
14   female  14.0      0      0            350406   7.8542   NaN        S
22   female  15.0      0      0            330923   8.0292   NaN        Q
..      ...   ...    ...    ...               ...      ...   ...      ...
866  female  27.0      1      0     SC/PARIS 2149  13.8583   NaN        C
875  female  15.0      0      0              2667   7.2250   NaN        C
882  female  22.0      0      0              7552  10.5167   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S

[182 rows x 12 columns]

In [66]:
len(not_married)

182

In [34]:
#paid under 20

In [35]:
paid = df[df['Fare']<20]

In [36]:
print(" who paid under 20:",paid)

 who paid under 20:      PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
5              6         0       3
8              9         1       3
..           ...       ...     ...
882          883         0       3
883          884         0       2
884          885         0       3
886          887         0       2
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
5        0            330877   8.4583   NaN        Q
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
883      0  C.A./SOTON 34068  10.5000   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
890      0            370376   7.7500   NaN        Q

[515 rows x 12 columns]

In [75]:
len(paid)

515

In [43]:
sur = df[df['Survived'] == 1].shape[0]

In [44]:
print("survived count:",sur)

survived count: 342

In [47]:
survive_pclass = df[(df['Pclass'] == 3) & (df['Survived'] ==1)].shape[0]

In [48]:
print("how many people survive on pclass 3:",survive_pclass)

how many people survive on pclass 3: 119